<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Block Element</title>

    <style>

        div h1 {

            background-color: red;

        }

        span{

            background-color: brown;

        }

        .e1{

            width: 700px;
            border: 5px green solid;

        }

        .e2{

            margin-top: 10px;
            max-width: 700px;
            border: 5px green solid;

}

    </style>

</head>
<body>

    <div>

        <h1>Hello Bangladesh</h1>

    </div>

    <div>

        <span>Hello Span Tag</span>

    </div>


    <div class="e1">

        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

    </div>

    <div class="e2">

        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

    </div>

    
</body>
</html>