<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../css/selandcombi2.css">

    <style>

        div > p {
            background-color: brown;
            color:aliceblue;
            text-align: center;
        }

        div + h4{
            text-align: center;
            font-family: fantasy;
        }

        div ~ p{
            background-color: chartreuse;
        }

    </style>

</head>
<body>


    <h1>This is a heading 1</h1>

    <div>

    <p>THis is a paragraph 1</p>
    <p>THis is a paragraph 2</p>
    <section><p>THis is a paragraph 3</p></section>

    </div>

    <h4>This is a immediate sibling selector</h4>

    <p>THis is a general sibling selector paragraph 4</p>
    <p>THis is a general sibling selector paragraph 5</p>
    
</body>
</html>