<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psuedo Element 3</title>

    <style type="text/css">

        /* ::selection{

            background-color: blueviolet;
            color:white
        } */

        .demo::before, .demo::after{

            content: '';
            width: 100%;
            height: 20px;
            background-color: blue;
            display: inline-block;

        }

        input::placeholder{

            background-color: blueviolet;
            color: white;
            font-size: 15px

        }
        

    </style>

</head>
<body>

    <div class="demo">

        <p class="para1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. </p>
        
            <p class="para2">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. </p>
        
            <p class="para3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
            when an unknown printer took a galley of type and scrambled it to make a type 
            specimen book. </p>

    </div>

    <input type="text" placeholder="Enter your name" >
    
</body>
</html>